<section class="bnj-fleches-directionnelles-container">
    <div class="bnj-fleches-directionnelles-row">
        <div class="bnj-fleches-directionnelles-column"></div>
        <div class="bnj-fleches-directionnelles-column"><i id="arrowUp" class="fas fa-caret-up fa-5x"></i></div>
        <div class="bnj-fleches-directionnelles-column"></div>
    </div>
    <div class="bnj-fleches-directionnelles-row">
        <div class="bnj-fleches-directionnelles-column bnj-fleches-directionnelles-column-4"><i id="arrowLeft" class="fas fa-caret-left fa-5x"></i></div>
        <div class="bnj-fleches-directionnelles-column"><i class="fas fa-circle fa-3x"></i></div>
        <div class="bnj-fleches-directionnelles-column bnj-fleches-directionnelles-column-6"><i id="arrowRight" class="fas fa-caret-right fa-5x"></i></div>
    </div>
    <div class="bnj-fleches-directionnelles-row">
        <div class="bnj-fleches-directionnelles-column"></div>
        <div class="bnj-fleches-directionnelles-column"><i id="arrowDown" class="fas fa-caret-down fa-5x"></i></div>
        <div class="bnj-fleches-directionnelles-column"></div>
    </div>
</section>