<img id=tv class="icon" src="/assets/images/tv-solid.svg">

<!-- The Modal -->
<div id="modal-webcam" class="modal">

    <!-- Modal content -->
    <div class="modal-content container">
        <span id="close" class="close col-1 ">&times;</span>
        <div class="col-11 gc-modal-height">
                <a name="windy-webcam-timelapse-player" data-id="1511302382" data-play="month" href="https://windy.com/webcams/1511302382" target="_blank">lien</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
        </div>
    </div>
</div>
