{% extends 'layout.html.twig' %}

{% block content %}
            <div class="title-block-gd">
                <h1>ADVENTURE COACH</h1>
                <ol>
                    <li class="rules-list-gd col-8">Trouve les indices...</li>
                    <li class="rules-list-gd col-8">Réponds à la question...</li>
                    <li class="rules-list-gd col-8">et envole toi vers le niveau suivant !</li>
                </ol>
            </div>

    </div>
{% endblock %}
