{% extends 'layout.html.twig' %}

{% block title %}Adventure Couch{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_fleches_directionnelles.css">
{% endblock %}

{%  block titlePage %}
{% endblock %}

{% block content %}

    <div class="title-block-gd">
        <h1>ADVENTURE COUCH</h1>
        <ol>
            <li class="rules-list-gd col-8">Trouve les indices...</li>
            <li class="rules-list-gd col-8">Réponds à la question...</li>
            <li class="rules-list-gd col-8">et envole toi vers le niveau suivant !</li>
        </ol>
    </div>

    {% include 'Home/_gameScreen.html.twig' %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/assets/js/mogitveCouch.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/webcam.js" type="text/javascript"></script>
    <script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js%22%3E"></script>
    <script type="text/javascript" src="/assets/js/moveCouch.js"></script>
    <script type="text/javascript" src="/assets/js/chooseCouchColor.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            gestionModalWebCam();
        });
    </script>
{% endblock %}
