.bnj-fleches-directionnelles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bnj-fleches-directionnelles-row {
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
}

.bnj-fleches-directionnelles-column {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnj-fleches-directionnelles-column-4 {
    justify-content: flex-end;
}

.bnj-fleches-directionnelles-column-6 {
    justify-content: flex-start;
}

@media (min-width: 450px) {
    .bnj-fleches-directionnelles-container {
        width: 55vw;
    }
}

@media (min-width: 650px) {
    .bnj-fleches-directionnelles-container {
        width: 40vw;
    }
}

@media (min-width: 1200px) {
    .bnj-fleches-directionnelles-container {
        width: 30vw;
    }
}