.gc-caseSize{
    height: 8vw;
    width : 8vw;

    background-color: lightgreen;
    border: 1px solid white;
}
.gc-icon1{
    border: 1px solid white;
}
.gc-icon2{
    border: 1px solid white;
}
.gc-icon3{
    border: 1px solid white;
    color:white;
}
.gc-icon4{
    border: 1px solid white;
    color:white;
}


