.rules-list-gd {
    font-style: italic;
    font-size: 1rem;
}

.title-block-gd {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    margin-bottom: 50px;
}

.icon {
    width: 100%;
    height: auto;
    max-height: content-box;
    border: none;
}
.gc-boxIcon {
    display : flex;
    flex-direction: column-reverse;
}


.gc-modal-height{
    min-height:400px;
    height: auto;

}

.sitDown {
    background-color: palevioletred;
    color: black;
    border-color: palevioletred;
    margin-top: 10px;
}
.sitDown:hover {
    background-color: lightgreen;
    color: black;
    border-color: lightgreen;
}

