h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rules-list-gd {
    font-style: italic;
    font-size: 1rem;
}

.title-block-gd {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    margin-bottom: 50px;
}

.icon {
    width: 100%;
    height: auto;
    max-height: content-box;
    border: none;
}

.icon_question{
    display: block;
}

.gc-boxIcon {
    display : flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.gc-boxIcon.div {
    display: flex;
    align-items: center;
}

.gc-modal-height{
    min-height:400px;
    height: auto;

}

.sitDown {
    background-color: palevioletred;
    color: black;
    border-color: palevioletred;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sitDown:hover {
    background-color: lightgreen;
    color: black;
    border-color: lightgreen;
}
.changeCouch {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    align-items: flex-start;
    height: 100px;
}

.pinkCouch .blackCouch .yellowCouch .blueCouch {
    width: 100%;
    height: auto;
    display: block;
}

.goodAnswer {
    text-decoration: none;
    color: white;
}