.rules-list-gd {
    font-style: italic;
    font-size: 1rem;
}

.title-block-gd {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
}

.icon {
    width: 100%;
    height: auto;
    max-height: content-box;
    border: none;
}

.icon_question{
    display: block;
}

.icon_couch{

}

.gc-boxIcon {
    display : flex;
    flex-direction: column-reverse;
}
